<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/tasks">Tasks</a>
      </div>

      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-1">#</th>
              <th class="col-sm-6">Description</th>
              <th class="col-sm-1">Time</th>
              <th class="col-sm-2">Tags</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <% @uncompleted_tasks.each do |task| %>
              <tr>
                <td><%= task.id %></td>
                <td>
                  <a href="/tasks/<%= task.id %>"><%= task.description %></a>
                </td>
                <td><%= task.time_cost %></td>
                <td>
                  <% if task.tags.empty? %>
                    <i class="gray">No tags</i>
                  <% else %>
                    <% task.tags.each do |tag| %>
                      <span class="label label-info"><%= tag.name %></span>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <form action="/tasks/<%= task.id %>" method="post">
                    <div class="pull-right">
                    <button class="btn btn-default btn-xs" name="_complete_button" type="submit" value="true">
                      <i class="fa fa-check fa-lg"></i>
                    </button>

                    <button class="btn btn-default btn-xs" name="_delete_button" type="submit" value="true">
                      <i class="fa fa-trash fa-lg"></i>
                    </button>
                    </div>
                  </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div>
          <h3>New task</h3>
          <hr />
          <form action="/tasks" method="post">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="description">Description</label>
                  <input class="form-control" type="text" name="description" required/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="time_cost">Time cost in minutes</label>
                  <input class="form-control" type="number" name="time_cost"/>
                </div>
              </div>

              <div class="col-sm-8">
                <div class="form-group">
                  <label for="tags">Tags</label>
                  <input class="form-control" type="text" name="tags" />
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-default">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/time_records">Time spent</a>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-8">Task</th>
              <th class="col-sm-2">Duration</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <% @time_records.each do |record| %>
              <tr>
                <td><%= record.task.id_with_short_desc %></td>
                <td><%= record.duration %></td>

                <td>
                  <form action="/time_records/<%= record.id %>" method="post">
                    <div class="pull-right">
                    <button class="btn btn-default btn-xs" name="_delete_button" type="submit" value="true">
                      <i class="fa fa-trash fa-lg"></i>
                    </button>
                    </div>
                  </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div>
          <h3>New</h3>
          <hr />
          <form action="/time_records" method="post">
            <div class="row">
              <div class="col-sm-7">
                <div class="form-group">
                  <label for="task_id">Task</label>
                  <select class="form-control" name="task_id">
                    <% @uncompleted_tasks.each do |task| %>
                      <option value=<%= task.id %>><%= task.id_with_short_desc %></option>
                    <% end %>
                  </select>
                </div>
              </div>

              <div class="col-sm-5">
                <div class="form-group">
                  <label for="duration">Duration</label>
                  <input class="form-control" id="timer" type="number" name="duration" value="0" required />
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-default">Create</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
