<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="undecorated-link" href="/tasks">
          Tasks
        </a>
      </div>

      <div class="panel-body">
        <div>
          <form class='form-horizontal' action="/tasks" method="post">
            <div class="form-group">
              <div class="col-sm-12">
                <input class="form-control" type="text" name="description" placeholder="Description" required/>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-3">
                <input class="form-control" type="number" name="time_cost" placeholder="Time cost" />
              </div>

              <div class="col-sm-6">
                <input class="form-control" type="text" name="tags" placeholder="Tags" />
              </div>

              <div class="col-sm-3">
                <button type="submit" class="btn btn-default">Create new task</button>
              </div>
            </div>
          </form>
        </div>

        <hr />

        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-9">Description</th>
              <th class="col-sm-1">Time</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <% @uncompleted_tasks.each do |task| %>
              <tr>
                <td>
                  <a class="undecorated-link" href="/tasks/<%= task.id %>"><%= "#{task.id} - #{task.description}" %></a>
                  &nbsp;
                  <% task.tags.each do |tag| %>
                    <span class="label label-primary"><%= tag.name %></span>
                  <% end %>
                </td>
                <td><%= task.time_cost %></td>
                <td>
                  <form action="/tasks/<%= task.id %>" method="post">
                    <div class="pull-right">
                      <button class="btn btn-default btn-xs" name="_complete_button" type="submit" value="true">
                        <i class="fa fa-check fa-lg"></i>
                      </button>
                    </div>
                  </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="undecorated-link" href="/time_records">
          Time spent
        </a>
      </div>
      <div class="panel-body">
        <div>
          <form class="form-horizontal" action="/time_records" method="post">
            <div class="form-group">
              <div class="col-sm-12">
                <select class="form-control" name="task_id" placeholder="Task">
                  <% @uncompleted_tasks.each do |task| %>
                    <option value=<%= task.id %>><%= task.id_with_short_desc %></option>
                  <% end %>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <input class="form-control" id="timer" type="number" name="duration" value="0" required />
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-default">Create</button>
              </div>
            </div>
          </form>
        </div>

        <hr />

        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-8">Task</th>
              <th class="col-sm-2">Duration</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <% @time_records.each do |record| %>
              <tr>
                <td>
                  <% if record.task %>
                    <%= record.task.id_with_short_desc %>
                  <% else %>
                    <i class="gray">No task</i>
                  <% end %>
                </td>
                <td><%= record.duration %></td>

                <td>
                  <form action="/time_records/<%= record.id %>" method="post">
                    <div class="pull-right">
                    <button class="btn btn-default btn-xs" name="_delete_button" type="submit" value="true">
                      <i class="fa fa-trash fa-lg"></i>
                    </button>
                    </div>
                  </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
