<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title display-inline">
          <a class="undecorated-link" href="/tasks">
            Tasks
          </a>
        </h3>
      </div>

      <div class="panel-body">
        <div>
          <form class='form-horizontal' action="/tasks" method="post">
            <div class="form-group">
              <div class="col-sm-12">
                <input class="form-control" type="text" name="description" placeholder="Description" required/>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-3">
                <input class="form-control" type="number" name="time_cost" placeholder="Time cost" />
              </div>

              <div class="col-sm-6">
                <input class="form-control" type="text" name="tags" placeholder="Tags" />
              </div>

              <div class="col-sm-3">
                <button type="submit" class="btn btn-default">Create new task</button>
              </div>
            </div>
          </form>
        </div>

        <hr />

        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-8">Description</th>
              <th class="col-sm-3" title="Time spent/estimated">Time s/e</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <% @uncompleted_tasks.each do |task| %>
              <tr class="show-hidden-on-hover">
                <td>
                  <a class="undecorated-link" href="/tasks/<%= task.id %>"><%= "#{task.id} - #{task.description}" %></a>
                  &nbsp;
                  <% task.tags.each do |tag| %>
                    <span class="label label-primary"><%= tag.name %></span>
                  <% end %>
                </td>
                <td>
                  <%= task.time_spent %> / <%= TimeDuration.new(task.time_cost) %>

                  <form class="time-records-form display-inline" action="/time_records" method="post">
                    <input class="hide" type="number" name="task_id" value=<%= task.id %> />
                    <input class="timer-inputs hide" type="number" name="duration" value="0" required />
                    <button type="submit" class="green unstyled-button my-hide"><span><b>+<span class="quick-timer">0</span></b></span></button>
                  </form>
                </td>
                <td>
                  <form action="/tasks/<%= task.id %>" method="post">
                    <div class="pull-right">
                      <button class="btn btn-default btn-xs" name="_complete_button" type="submit" value="true">
                        <i class="fa fa-check fa-lg"></i>
                      </button>
                    </div>
                  </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title display-inline">
          <a class="undecorated-link" href="/time_records">
            Time today
          </a>
        </h3>

        <span class='pull-right'>
          total: <%= @time_records.inject(TimeDuration.new(0)) { |sum, record| sum + record.to_duration } %>
      </span>
    </div>
    <div class="panel-body">
      <div>
        <form class="time-records-form form-horizontal" action="/time_records" method="post">
          <div class="form-group">
            <div class="col-sm-12">
              <select class="form-control" name="task_id" placeholder="Task">
                <% @uncompleted_tasks.each do |task| %>
                  <option value=<%= task.id %>><%= task.id_with_short_desc %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-6">
              <div class="input-group">
                <input class="form-control timer-inputs green bold" type="text" name="duration" value="0" required />
                  <span class="input-group-addon" id="basic-addon1">
                    <a href="#" class="duration-reset">
                      <i class="fa fa-close">
                      </i>
                    </a>
                  </span>
              </div>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-default">Create</button>
            </div>
          </div>
        </form>
      </div>

      <hr />

      <table class="table">
        <thead>
          <tr>
            <th class="col-sm-8">Task</th>
            <th class="col-sm-4">Duration Total</th>
          </tr>
        </thead>
        <tbody>
          <% @time_records.grouped_by_task.each do |group| %>
            <tr>
              <td>
                <% if group.first.task %>
                  <%= group.first.task.id_with_short_desc; %>
                <% else %>
                  <i class="gray">No task</i>
                <% end %>
              </td>
              <td><%= group.total_duration %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
