<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/tasks">Tasks</a>
      </div>

      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Description</th>
              <th>Time cost</th>
              <th>Tags</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @uncompleted_tasks.each do |task| %>
              <tr>
                <td><%= task.id %></td>
                <td>
                  <a href="/tasks/<%= task.id %>"><%= task.description %></a>
                </td>
                <td><%= task.time_cost %></td>
                <td><%= task.tags %></td>
                <td>
                  <form action="/tasks/<%= task.id %>" method="post">
                    <input type="hidden" name="_completed" value="true" />
                    <button type="submit">Completed</button>
                  </form>
                </td>
                <td>
                  <form action="/tasks/<%= task.id %>" method="post">
                    <input type="hidden" name="_delete" value="true" />
                    <button type="submit">Delete</button>
                  </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div>
          <h3>New task</h3>
          <hr />
          <form action="/tasks" method="post">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="description">Description</label>
                  <input class="form-control" type="text" name="description" required/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="time_cost">Time cost in minutes</label>
                  <input class="form-control" type="number" name="time_cost"/>
                </div>
              </div>

              <div class="col-sm-8">
                <div class="form-group">
                  <label for="tags">Tags</label>
                  <input class="form-control" type="text" name="tags" disabled />
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-default">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Time spent today
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Task</th>
              <th>Duration</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @time_records.each do |record| %>
              <tr>
                <td><%= record.task_id %></td>
                <td><%= record.duration %></td>

                <td>
                  <form action="/time_records/<%= record.id %>" method="post">
                    <input type="hidden" name="_delete" value="true" />
                    <button type="submit">Delete</button>
                  </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div>
          <h3>New</h3>
          <hr />
          <form action="/time_records" method="post">
            <div class="row">
              <div class="col-sm-5">
                <div class="form-group">
                  <label for="task_id">Task</label>
                  <select class="form-control" name="task_id">
                    <option label=" "></option>
                    <% @uncompleted_tasks.each do |task| %>
                      <option value=<%= task.id %>><%= task.id_with_short_desc %></option>
                    <% end %>
                  </select>
                </div>
              </div>

              <div class="col-sm-7">
                <div class="form-group">
                  <label for="tags">Duration</label>
                  <input class="form-control" id="timer" type="number" name="duration" value="0" required />
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-default">Create</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
