<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        All Tasks
      </div>

      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-1">#</th>
              <th class="col-sm-5">Description</th>
              <th class="col-sm-1">Time</th>
              <th class="col-sm-2">Tags</th>
              <th class="col-sm-1">Total time</th>
              <th class="col-sm-1">Completed</th>
              <th class="col-sm-1"></th>
            </tr>
          </thead>
          <tbody>
            <% @tasks.each do |task| %>
              <tr>
                <td><%= task.id %></td>
                <td>
                  <a href="/tasks/<%= task.id %>"><%= task.description %></a>
                </td>
                <td><%= task.time_cost %></td>
                <td>
                  <% if task.tags.empty? %>
                    <i class="gray">No tags</i>
                  <% else %>
                    <% task.tags.each do |tag| %>
                      <span class="label label-info"><%= tag.name %></span>
                    <% end %>
                  <% end %>
                </td>
                <td><i class="gray"><%= task.time_spent %></i></td>
                <td>
                  <% if task.completed %>
                    Yes
                  <% else %>
                    No
                  <% end %>
                </td>
                <td>
                  <form action="/tasks/<%= task.id %>" method="post">
                    <div class="pull-right">
                      <% unless task.completed %>
                        <button class="btn btn-default btn-xs" name="_complete_button" type="submit" value="true">
                          <i class="fa fa-check fa-lg"></i>
                        </button>
                      <% end %>

                      <button class="btn btn-default btn-xs" name="_delete_button" type="submit" value="true">
                        <i class="fa fa-trash fa-lg"></i>
                      </button>
                    </div>
                  </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
