<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @task.id %> <%= @task.description %>
      </div>

      <div class="panel-body">
        <dl>
          <dt>Tags</dt>
          <dd>
            <% if @task.tags.empty? %>
              <i class="gray">No tags</i>
            <% else %>
              <% @task.tags.each do |tag| %>
                <span class="label label-info"><%= tag.name %></span>
              <% end %>
            <% end %>
          </dd>
          <dt>Time cost</dt>
          <dd><%= @task.time_cost %></dd>
          <dt>Status</dt>
          <dd><%= @task.completed %></dd>
          <dt>Created at</dt>
          <dd><%= @task.created_at %></dd>
        </dl>

        <div>
          <h3>Update task</h3>
          <hr />
          <form action=<%= "/tasks/#{@task.id}" %> method="post">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="description">Description</label>
                  <input class="form-control" type="text" name="description" value="<%= @task.description %>" required/>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="time_cost">Time cost in minutes</label>
                  <input class="form-control" type="number" name="time_cost" value=<%= @task.time_cost %> />
                </div>
              </div>

              <div class="col-sm-8">
                <div class="form-group">
                  <label for="tags">Tags</label>
                  <input class="form-control" type="text" name="tags" value="<%= @task.tag_names %>" />
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-default">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title display-inline">
          Time
        </h3>

        <span class='pull-right'>
          total: <%= @task.time_records.inject(TimeDuration.new(0)) { |sum, record| sum + record.to_duration } %>
        </span>
      </div>
      <div class="panel-body">
        <div>
          <%= view('partials/time_records_form.html', layout: false, locals: { tasks: [@task] }) %>
        </div>

        <hr />

        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-5">Task</th>
              <th class="col-sm-5">Duration</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <% @task.time_records.each do |record| %>
              <tr>
                <td><%= record.task_id %></td>
                <td><%= record.duration %></td>

                <td>
                  <form action="/time_records/<%= record.id %>" method="post">
                    <div class="pull-right">
                    <button class="btn btn-default btn-xs" name="_delete_button" type="submit" value="true">
                      <i class="fa fa-trash fa-lg"></i>
                    </button>
                    </div>
                  </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
