<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title display-inline">
          <%= @task.description %>
          <% @task.tags.each do |tag| %>
            <span class="label label-primary"><%= tag.name %></span>
          <% end %>
        </h3>

        <span class='pull-right'>
          <a href="/tasks/<%= @task.id %>/edit">Edit</a>
        </span>
      </div>

      <div class="panel-body">
        <div>
          <p>Created at: <b><%= @task.created_at.strftime('%-d.%-m.%Y %H:%M') %></b></p>
          <p>Estimated time: <b><%= @task.time_cost %></b></p>
        </div>
      </div>
    </div>
  </div>
</div>
