<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= view('partials/task_filter.html', layout: false, locals: { filter: @filter, form_path: '/tasks' }) %>
      </div>

      <div class="panel-body">
        <span>Used tags:</span>
        <% @tags.each do |tag| %>
          <a href="/tasks?tags=<%= tag.name %>"><span class="label label-primary"><%= tag.name %></span></a>
        <% end %>

        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-8">Description</th>
              <th class="col-sm-2" title="Time spent/estimated">Time cost</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <% if @tasks.empty? %>
              <tr>
                <td class="gray text-center" colspan='2'><i>Seems like you don't have any tasks to do. That's cool!</i></td>
              </tr>
            <% else %>

              <% @tasks.each do |task| %>
                <tr>
                  <td>
                    <a class="undecorated-link" href="/tasks/<%= task.id %>"><%= "#{task.description}" %></a>
                    <% task.tags.each do |tag| %>
                      <span class="label label-primary"><%= tag.name %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= task.time_cost %>
                  </td>
                  <td>
                    <div class="pull-right">
                      <span>
                        <a href="/tasks/<%= task.id %>/edit">Edit</a>
                      </span>
                      |
                      <% unless task.completed? %>
                        <form class="display-inline" action="/tasks/<%= task.id %>" method="post">
                          <input class="hide" type="text" name="tags" value="<%= task.tag_names.join(', ') + ',completed' %>" />
                          <button class="btn-linklike" name="submit" type="submit">
                            Close
                          </button>
                        </form>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="/js/suptasks.js"></script>
