<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title display-inline">
          <%= @task.description %>
          <% if @task.completed? %>
            (<span class="green">completed</span>)
          <% end %>
        </h3>

        <span class='pull-right'>
          <a href="/tasks/<%= @task.id %>/edit">Edit</a>
        </span>
      </div>

      <div class="panel-body">
        <dl>
          <dt>Tags</dt>
          <dd>
            <% if @task.tags.empty? %>
              <i class="gray">No tags</i>
            <% else %>
              <% @task.tags.each do |tag| %>
                <span class="label label-info"><%= tag.name %></span>
              <% end %>
            <% end %>
          </dd>
          <dt>Created at</dt>
          <dd><%= @task.created_at %></dd>

          <% if @task.time_cost > 0 %>
            <dt>Estimated time:</dt>
            <dd><%= @task.time_cost %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title display-inline">
          Time
        </h3>

        <% if @time_records.total_duration > 0 %>
          <span class='pull-right'>
            total: <%= @time_records.total_duration %>
          </span>
        <% end %>
      </div>
      <div class="panel-body">
        <div>
          <%= view('partials/time_record_form.html', layout: false, locals: { tasks: [@task] }) %>
        </div>

        <hr />

        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-5">Task</th>
              <th class="col-sm-5">Duration</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <% @time_records.each do |record| %>
              <tr>
                <td><%= record.task_id %></td>
                <td><%= record.duration %></td>

                <td>
                  <form action="/time_records/<%= record.id %>" method="post">
                    <div class="pull-right">
                    <button class="btn btn-default btn-xs" name="_delete_button" type="submit" value="true">
                      <i class="fa fa-trash fa-lg"></i>
                    </button>
                    </div>
                  </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
