<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title display-inline">
          <%= @task.description %>
          <% @task.tags.each do |tag| %>
            <span class="label label-primary"><%= tag.name %></span>
          <% end %>
        </h3>

        <div class="pull-right">
          <span>
            <a href="/tasks/<%= @task.id %>/edit">Edit</a>
          </span>
          |
          <% unless @task.completed? %>
            <form class="display-inline" action="/tasks/<%= @task.id %>" method="post">
              <input class="hide" type="text" name="tags" value="<%= @task.tag_names.join(', ') + ',completed' %>" />
              <button class="btn-linklike" name="submit" type="submit">
                Close
              </button>
            </form>
          <% end %>
        </div>
      </div>

      <div class="panel-body">
        <div>
          <p>Created at: <b><%= @task.created_at.strftime('%-d.%-m.%Y %H:%M') %></b></p>
          <p>Estimated time: <b><%= @task.time_cost %></b></p>
        </div>
      </div>
    </div>
  </div>
</div>
