<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title display-inline">
          Tasks
        </h3>

        <span class='pull-right'>
          <a href="/tasks/new">New task</a>
        </span>
      </div>

      <div class="panel-body">
        <span class="text-muted"><a class="text-muted" href="#">Showing all uncomplete tasks</a></span>

        <div class="well well-sm task-filter">
          <form class='form-inline' action="/tasks" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="description" placeholder="Description" required/>
            </div>

            <div class="form-group">
              <input class="form-control" type="text" name="tags" placeholder="tags" />
            </div>

            <div class="form-group">
              <input class="form-control" type="text" name="time_cost" placeholder="Time cost" />
            </div>

            <button type="submit" class="btn btn-default">Filter</button>
          </form>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-8">Description</th>
              <th class="col-sm-3" title="Time spent/estimated">Time s/e</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <% if @uncompleted_tasks.empty? %>
              <tr>
                <td class="gray text-center" colspan='2'><i>Seems like you don't have any tasks to do. That's cool!</i></td>
              </tr>
            <% else %>

              <% @uncompleted_tasks.each do |task| %>
                <tr class="show-hidden-on-hover">
                  <td>
                    <a class="undecorated-link" href="/tasks/<%= task.id %>"><%= "#{task.description}" %></a>
                    &nbsp;
                    <% task.tags.each do |tag| %>
                      <span class="label label-primary"><%= tag.name %></span>
                    <% end %>
                  </td>
                  <td>
                    <%= task.time_spent %> / <%= task.time_cost %>

                    <form class="time-records-form display-inline" action="/time_records" method="post">
                      <input class="hide" type="number" name="task_id" value=<%= task.id %> />
                      <input class="timer-inputs hide" type="number" name="duration" value="0" required />
                      <button type="submit" class="green unstyled-button my-hide"><span><b>+<span class="quick-timer">0</span></b></span></button>
                    </form>
                  </td>
                  <td>
                    <form action="/tasks/<%= task.id %>" method="post">
                      <div class="pull-right">
                        <input class="hide" type="checkbox" name="completed" value="true" checked/>
                        <button class="btn btn-default btn-xs" name="submit" type="submit">
                          <i class="fa fa-check fa-lg"></i>
                        </button>
                      </div>
                    </form>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title display-inline">
          Time
        </h3>

        <% if @time_records.total_duration > 0 %>
          <span class='pull-right'>
            total: <%= @time_records.total_duration %>
        </span>
      <% end %>
    </div>
    <div class="panel-body">
      <div>
        <%= view('partials/time_record_form.html', layout: false, locals: { tasks: @uncompleted_tasks }) %>
      </div>

      <hr />

      <table class="table">
        <thead>
          <tr>
            <th class="col-sm-8">Task</th>
            <th class="col-sm-4">Duration</th>
          </tr>
        </thead>
        <tbody>
          <% if @time_records.empty? %>
            <tr>
              <td class="gray text-center" colspan='2'><i>No time records today</i></td>
            </tr>
          <% else %>
            <% @time_records.grouped_by_task.each do |group| %>
              <tr>
                <td>
                  <% if group.first.task %>
                    <%= group.first.task.description %>
                  <% else %>
                    <i class="gray">No task</i>
                  <% end %>
                </td>
                <td><%= group.total_duration %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
