<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title display-inline">
          <%= @task.description %>
        </h3>

        <span class='pull-right'>
          <a href="/tasks/<%= @task.id %>/edit">Edit</a>
        </span>
      </div>

      <div class="panel-body">
        <div>
          <dl>
            <dt>Tags</dt>
            <dd>
              <% if @task.tags.empty? %>
                <i class="gray">No tags</i>
              <% else %>
                <% @task.tags.each do |tag| %>
                  <span class="label label-info"><%= tag.name %></span>
                <% end %>
              <% end %>
            </dd>
            <dt>Created at</dt>
            <dd><%= @task.created_at %></dd>

            <% if @task.time_cost > 0 %>
              <dt>Estimated time:</dt>
              <dd><%= @task.time_cost %></dd>
            <% end %>
          </dl>
        </div>

        <h3>Time records</h3>
        <% records_by_started_at = @time_records.sort_by(&:started_at).reverse.grouped_by_started_at %>
        <%= view('partials/time_records_table.html', layout: false, locals: { time_records: records_by_started_at }) %>
      </div>
    </div>
  </div>
</div>
