<% start_date = Date.today - ((23 * @current_page) - 1) %>
<% end_date = start_date + (23 - 1) %>
<% records_by_started_at = @time_records.reverse.grouped_by_started_at %>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
      <%= view('partials/task_filter.html', layout: false, locals: { filter: @filter, form_path: '/time_records' }) %>
      </div>

      <div class="panel-body">
        <div class="pagination">
          Showing activity between <%= start_date.strftime('%-d.%-m.%Y') %> - <%= end_date.strftime('%-d.%-m.%Y') %>.
            Available pages:
            <% 1.upto(@number_of_pages).reverse_each do |page| %>
              <% if page != @current_page %>
                <a href="/time_records?page=<%= page %>"><%= page %></a>
              <% else %>
                <b><%= page %></b>
              <% end %>
            <% end %>
        </div>

        <div class="graph">
          <% (start_date).upto(end_date).each do |date| %>
            <% records = records_by_started_at[date] || TimeRecords.new %>

            <div class="bar">
              <div class="tasks">
                <% blank_chart_hight = 288 - (records.total_duration.duration.to_f / 2.5) %>
                <div class="task white-background" style="height: <%= blank_chart_hight %>px;">
                </div>

                <% records.grouped_by_task.each_with_index do |records_by_task, index| %>
                  <% height = (records_by_task.total_duration.duration.to_f / 2.5) %>
                  <% background = index.even? ? 'grey-background1' : 'grey-background2' %>
                  <% title = "#{records_by_task.first.task.description} &#013; #{records_by_task.total_duration}" %>

                  <div class="task <%= background %>" style="height: <%= height %>px;" title="<%= title %>">
                  </div>
                <% end %>
              </div>

              <div class="bar-meta">
                <span>
                  <%= date.strftime('%-d.%-m') %>
                </span>
                <span class="bar-meta-submeta">
                  <i><%= date.strftime('%a') %></i>
                </span>
              </div>
            </div>
          <% end %>
        </div>

        <%= view('partials/time_records_table.html', layout: false, locals: { time_records: records_by_started_at }) %>
      </div>
    </div>
  </div>
</div>
