<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <% time_records = @time_records.grouped_by_created_at %>

      <% start_date = Date.today - ((14 * @current_page) - 1) %>
      <% end_date   = start_date + (14 - 1) %>
      <% last_21_dates = (start_date).upto(end_date) %>

      <div class="panel-heading">
        <%= start_date.strftime('%-d.%-m.%Y') %> - <%= end_date.strftime('%-d.%-m.%Y') %>

        <div class="time_records_pagination pull-right">
          <% 1.upto(@number_of_pages) do |page| %>
            <% if page != @current_page %>
            <a href="/time_records?page=<%= page %>"><%= page %></a>
            <% else %>
              <b><%= page %></b>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="panel-body">

        <div class="graph">
          <ul>
            <% left_margin = 45 %>


            <% last_21_dates.each do |date| %>
              <% records = time_records.find { |group| group.first.created_at.to_date == date } %>

              <% if records %>
                <li class="bar" style="left: <%= left_margin %>px;">

                  <% blank_chart_high = 288 - (records.total_duration.duration.to_f / 2.5) %>
                  <div class="task white-background" style="height: <%= blank_chart_high %>px;">
                  </div>

                  <% index = 1 %>
                  <% records.grouped_by_task.each do |records2| %>
                    <% chart_height = (records2.total_duration.duration.to_f / 2.5) %>
                    <% title = "#{records2.first.task.id_with_short_desc} &#013; #{records2.total_duration}" %>
                    <% if index.odd? %>
                      <div class="task grey-background1" style="height: <%= chart_height %>px;" title="<%= title %>">
                      </div>
                    <% else %>
                      <div class="task grey-background2" style="height: <%= chart_height %>px;" title="<%= title %>">
                      </div>
                    <% end %>
                    <% index += 1 %>
                  <% end %>

                  <%= date.strftime('%-d.%-m') %>
                </li>
              <% else %>
                <li class="bar" style="left: <%= left_margin %>px;">
                  <div class="task grey-background" style="height: 288px;">
                  </div>
                  <%= date.strftime('%-d.%-m') %>
                </li>
              <% end %>

              <% left_margin += 45 %>
            <% end %>
          </ul>
        </div>

        <br />


      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        New Time Record
      </div>

      <div class="panel-body">
        <form class="time-records-form form-horizontal" action="/time_records" method="post">
          <div class="form-group">
            <div class="col-sm-12">
              <select class="form-control" name="task_id" placeholder="Task">
                <% @tasks.each do |task| %>
                  <option value=<%= task.id %>><%= task.id_with_short_desc %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-6">
              <div class="input-group">
                <input class="form-control timer-inputs green bold" type="text" name="duration" value="0" required />
                  <span class="input-group-addon" id="basic-addon1">
                    <a href="#" class="duration-reset">
                      <i class="fa fa-close">
                      </i>
                    </a>
                  </span>
              </div>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-default">Create</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= start_date.strftime('%-d.%-m.%Y') %> - <%= end_date.strftime('%-d.%-m.%Y') %>
      </div>

      <div class="panel-body">

        <table class="table">
          <thead>
            <tr>
              <th class="col-sm-2">Duration</th>
              <th class="col-sm-5">Task</th>
              <th class="col-sm-3">Created at</th>
              <th class="col-sm-2"></th>
            </tr>
          </thead>
          <tbody>
            <% @time_records.each do |record| %>
              <tr>
                <td><%= record.to_duration %></td>
                <td>
                  <% if record.task %>
                    <%= record.task.id_with_short_desc %>
                  <% else %>
                    <i class="gray">No task</i>
                  <% end %>
                </td>
                <td><%= record.created_at_formated %></td>
                <td>
                  <form action="/time_records/<%= record.id %>" method="post">
                    <div class="pull-right">
                      <button class="btn btn-default btn-xs" name="_delete_button" type="submit" value="true">
                        <i class="fa fa-trash fa-lg"></i>
                      </button>
                    </div>
                  </form>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
